

$ff-primary: 'Work Sans', sans-serif;

$fw-reg: 400;
$fw-bold: 600;

$clr-light: #ffffff;
$clr-lightgrey: #d8d8d8;
$clr-text: #484848;
$clr-accent1: #89CCBC;



$fs-h1: 3.5rem;
$fs-h2: 2.15rem;
$fs-h3: 1.45rem;
$fs-body: 15px;

$bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

@media (min-width: 800px) {
    $fs-h1: 4.25rem;
    $fs-h2: 3rem;
    $fs-h3: 1.75rem;
    $fs-body: 1.125rem;
}